<?xml version="1.0"?>
<configuration>
  <connectionStrings configSource="connectionStrings.config"/>
  <appSettings configSource="appSettings.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <customErrors defaultRedirect="/Home/GenericError" mode="Off"/>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="60"/>
    <!--<machineKey decryptionKey="A308E936B1BBBC5D90C07D89D0D4CFFE710055A8F72BEA78" validationKey="F8433CDD6A1D0C479B6DEF6EB6BFF9DCCC45D839EAA7A04E90702E0246FE0375CB1F907CA6D6E59BC54BCD7AF616FE04C14162F82C2A70FA2C4E12B1CABF6CF5" />-->
    <httpCookies domain="127.0.0.1"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
  <runtime>
  	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
