/* 852~900 */
.dropup, .dropdown { position: relative; }

.dropdown-toggle { *margin-bottom: -3px; }

.dropdown-toggle:active, .open .dropdown-toggle { outline: 0; }

.caret { display: inline-block; width: 0; height: 0; vertical-align: top; border-top: 4px solid black; border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; }

.dropdown .caret { margin-top: 8px; margin-left: 2px; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; background-color: white; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px; *border-bottom-width: 2px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
.dropdown-menu.pull-right { right: 0; left: auto; }
.dropdown-menu .divider { *width: 100%; height: 1px; margin: 9px 1px; *margin: -5px 0 5px; overflow: hidden; background-color: #e5e5e5; border-bottom: 1px solid white; }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: #333333; white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { text-decoration: none; color: white; background-color: #0081c2; background-image: -moz-linear-gradient(top, #0088cc, #0077b3); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)); background-image: -webkit-linear-gradient(top, #0088cc, #0077b3); background-image: -o-linear-gradient(top, #0088cc, #0077b3); background-image: linear-gradient(to bottom, #0088cc, #0077b3); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0); }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { color: white; text-decoration: none; outline: 0; background-color: #0081c2; background-image: -moz-linear-gradient(top, #0088cc, #0077b3); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)); background-image: -webkit-linear-gradient(top, #0088cc, #0077b3); background-image: -o-linear-gradient(top, #0088cc, #0077b3); background-image: linear-gradient(to bottom, #0088cc, #0077b3); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0077B3', GradientType=0); }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { color: #999999; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); cursor: default; }

.open { *z-index: 1000; }
.open > .dropdown-menu { display: block; }

.dropdown-backdrop { position: fixed; left: 0; right: 0; bottom: 0; top: 0; z-index: 990; }

.pull-right > .dropdown-menu { right: 0; left: auto; }

.dropup .caret, .navbar-fixed-bottom .dropdown .caret { border-top: 0; border-bottom: 4px solid black; content: ""; }
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 1px; }

.dropdown-submenu { position: relative; }

.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-top: -6px; margin-left: -1px; -webkit-border-radius: 0 6px 6px 6px; -moz-border-radius: 0 6px 6px 6px; border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu { display: block; }

.dropup .dropdown-submenu > .dropdown-menu { top: auto; bottom: 0; margin-top: 0; margin-bottom: -2px; -webkit-border-radius: 5px 5px 5px 0; -moz-border-radius: 5px 5px 5px 0; border-radius: 5px 5px 5px 0; }

.dropdown-submenu > a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #cccccc; margin-top: 5px; margin-right: -10px; }

.dropdown-submenu:hover > a:after { border-left-color: white; }

.dropdown-submenu.pull-left { float: none; }
.dropdown-submenu.pull-left > .dropdown-menu { left: -100%; margin-left: 10px; -webkit-border-radius: 6px 0 6px 6px; -moz-border-radius: 6px 0 6px 6px; border-radius: 6px 0 6px 6px; }

.dropdown .dropdown-menu .nav-header { padding-left: 20px; padding-right: 20px; }

/* 1758 */
.greenStyle #header .header-main { background-color: #0c776d; }
.greenStyle #function-bar .dropdown-menu > li > a:hover { color: #0c746e; }
.greenStyle #main .page-title h3 { color: #0b756e; }

/* 1808 */
#header { position: relative; z-index: 1000; }
#header .header-main { height: 75px; background: url(../Content/images/gradient1.png) repeat-x 0 bottom; background-color: #a0434a; }
#header .header-main .header_content { position: relative; }
#header .header-sub { height: 38px; background: url(../Content/images/gradient2.png) repeat-x 0 top #a2a2a2; }
#header .header-sub .header_content { padding: 12px 10px 0 216px; width: 1000px; }
#header .header-sub .header_content ul li { float: left; display: block; color: white; }
#header .header-sub .header_content ul li a { color: white; display: inline-block; }
#header .header-sub .header_content ul li .sep { display: inline-block; margin: 0 10px; }
#header .header-main { background-image: url(../Content/images/gradient1-erp.png); }
#header .header-sub { height: 30px; background-image: url(../Content/images/gradient2-erp.png); overflow: hidden; }
#header .header-sub .header_content { width: auto; padding: 4px 10px 0 10px; height: 26px; overflow: hidden; }
#header .header-sub .header_content span { display: table-cell; padding: 0; vertical-align: top; *display: block; *float: left; }
#header .header-sub .header_content ul li { float: none; display: list-item; line-height: 18px; margin-bottom: 10px; }
#header .header-sub .header_content ul li a { color: #e8eab8; }
#header .msg { color: black; }

/* 1824 */
#logo { width: 60px; height: 75px; float: left; background: url(../Content/images/lion-logo.png) no-repeat center center black; }

/* 1826 */
#sitename { padding: 0 10px; line-height: 75px; font-size: 18px; float: left; letter-spacing: 3px; position: relative; z-index: 1; background: url(../Content/images/dot-repeat.png) #2a2c2a; font-family: '\5FAE\8EDF\6B63\9ED1\9AD4', 'Microsoft JhengHei', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei'; }
#sitename a { color: white; }
#sitename a:hover { text-decoration: none; }

/* 1830 */
#nav { font-size: 13px; float: left; padding: 43px 0 0 10px; z-index: 99; position: absolute; display: inline; }
#nav ul { margin: 0; padding: 0; }
#nav ul li { float: left; display: block; font-weight: bold; position: relative; line-height: 20px; background: url(../Content/images/gradient1.png) repeat-x 0 bottom #0c776d; }
#nav ul li a { padding: 5px 10px; color: white; border: 1px solid transparent; display: block; }
#nav ul li a:hover { color: #e8eab8; text-decoration: none; }
#nav ul li .subnav { border: 1px solid white; background: #838383; position: absolute; z-index: 5; width: 100px; border-bottom: none; left: 0; top: 31px; display: none; }
#nav ul li .subnav li { float: none; font-weight: normal; border-bottom: 1px solid white; position: relative; }
#nav ul li .subnav li a { border: none; color: white; }
#nav ul li .subnav li a:hover { border: none; background-color: #4b4949; }
#nav ul li .subnav li:hover .thirdnav { display: block; }
#nav ul li .subnav .thirdnav { position: absolute; top: 0; left: 101px; width: 100px; display: none; border: 1px solid white; }
#nav ul li.hasmenu:hover a { color: #e8eab8; text-decoration: none; background: #838383; border-color: white; }
#nav ul li.hasmenu:hover .subnav { display: block; }
#nav ul li.hasmenu:hover .subnav a { border: none; color: white; }
#nav ul li.hasmenu:hover .subnav a:hover { border: none; background-color: #4b4949; }
#nav ul li .subnav { padding: 10px; width: auto; border-color: transparent; min-height: 10px; background: #5a5d5c; }
#nav ul li .subnav ul { display: block; float: left; border-left: 1px solid #9c9c9c; padding: 0 0 0 10px; margin-left: 10px; }
#nav ul li .subnav ul:first-child { border-left: none; padding-left: 0; margin-left: 0; }
#nav ul li .subnav li { border-bottom: none; white-space: nowrap; background: #5a5d5c; }
#nav ul li .subnav li a { padding: 2px; }
#nav ul li .subnav li a:hover { background-color: transparent; color: #e8eab8; }
#nav ul li.hasmenu:hover a { background: #3e443f; border-color: transparent; }
#nav ul li.hasmenu:hover .subnav li a { background-color: transparent; }
#nav ul li.hasmenu:hover .subnav li a:hover { background-color: transparent; color: #e8eab8; }

/* 1854 */
#function-bar { font-size: 13px; color: white; width: 300px; position: absolute; right: 6px; top: 10px; text-align: right; top: 3px; z-index:99; }
#function-bar span, #function-bar a { vertical-align: middle; }
#function-bar .sep { color: #7c3439; display: inline-block; margin: 0 3px; }
#function-bar .func-menu { display: inline-block; width: 24px; height: 24px; }
#function-bar .func-menu.open { background: #7c3439; }
#function-bar .dropdown-menu { text-align: left; padding: 5px 0; left: auto; right: 0; top: 115%; min-width: 120px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
#function-bar .dropdown-menu:before { content: ''; position: absolute; top: -5px; right: 5px; display: inline-block; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 0px 5px 5px 5px; border-bottom-color: white; }
#function-bar .dropdown-menu .divider { margin: 0 12px; }
#function-bar .dropdown-menu li a { padding: 3px 12px; }
#function-bar .dropdown-menu li a:hover { background: none; background-image: none; background-color: transparent; color: #0088cc; }
#function-bar .logintxt a { color: white; text-decoration: underline; }
#function-bar .logintxt a:hover { color: #e8eab8; }
#function-bar .sep { color: #292929; }
#function-bar .func-menu.open { background: #100f0f; }

/* 1871 */
#topnav { font-size: 13px; position: absolute; top: 8px; *top: 5px; left: 177px; z-index: 99; }
#topnav ul { margin: 0; padding: 0; }
#topnav ul { min-height: 10px; }
#topnav ul li { float: left; display: inline-block; border-left: 1px solid white; line-height: 13px; position: relative; *line-height: 21px; }
#topnav ul li a { color: white; padding: 8px; }
#topnav ul li a:hover { color: #e8eab8; text-decoration: none; }
#topnav ul li:first-child { border-left: none; }
#topnav ul li .subnav { display: none; position: absolute; left: 0; top: 22px; background: #3e443f; padding: 5px 8px; min-width: 65px; z-index: 5; top: 21px\9; }
#topnav ul li .subnav li { display: block; float: none; white-space: nowrap; border: none; line-height: 1.8; }
#topnav ul li .subnav li a { display: block; }
#topnav ul li.hasmenu a { padding-right: 20px; *background: url(../Content/images/icon-arrow.gif) no-repeat right center; }
#topnav ul li.hasmenu a:after { content: ''; display: inline-block; width: 8px; height: 4px; position: absolute; top: 5px; right: 8px; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 4px 4px 0px 4px; border-top-color: #e8eab8; }
#topnav ul li.hasmenu a.active:after { width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 0px 4px 4px 4px; border-bottom-color: #e8eab8; }
#topnav ul li.hasmenu .subnav a { padding: 0; }
#topnav ul li.hasmenu .subnav a:after { content: ''; display: none; }
#topnav ul li.hasmenu:hover a { background-color: #5a5d5c; }
#topnav ul li.hasmenu:hover .subnav { display: block; }
#topnav ul li.hasmenu:hover .subnav a { background: none; padding: 0; }
#topnav ul li.hasmenu:hover .subnav a:after { content: ''; display: none; }

/* 1890 */
/*#navicon1 { width: 37px; height: 37px; position: absolute; display: none; right: 74px; top: -67px; background-image: url("../Content/images/navicon1.png"); background-repeat: no-repeat; -webkit-background-size: 37px 74px; -moz-background-size: 37px 74px; -o-background-size: 37px 74px; background-size: 37px 74px; }*/
#navicon1 { width: 37px; height: 37px; position: absolute; display: none; right: 37px; top: -67px; background-image: url("../Content/images/navicon1.png"); background-repeat: no-repeat; -webkit-background-size: 37px 74px; -moz-background-size: 37px 74px; -o-background-size: 37px 74px; background-size: 37px 74px; }
#navicon1.active { background-position: 0 -37px; background-color: #a2a2a2; }

/* 1893 B2P無上方連結選項，關閉bootstrap版型中右上方的對應icon
#navicon2 { width: 37px; height: 37px; position: absolute; display: none; right: 37px; top: -37px; background-image: url("../Content/images/navicon2.png"); background-repeat: no-repeat; -webkit-background-size: 37px 74px; -moz-background-size: 37px 74px; -o-background-size: 37px 74px; background-size: 37px 74px; }
#navicon2.active { background-position: 0 -37px; background-color: #a2a2a2; }
*/

/* 1896 */
#navicon3 { width: 37px; height: 37px; position: absolute; display: none; right: 0; top: -37px; background-image: url("../Content/images/navicon3.png"); background-repeat: no-repeat; -webkit-background-size: 37px 74px; -moz-background-size: 37px 74px; -o-background-size: 37px 74px; background-size: 37px 74px; }
#navicon3.active { background-position: 0 -37px; background-color: #a2a2a2; }
#navicon3.active { background-color: #3f433f; }

/* 1900 */
/*#navicon4 { width: 37px; height: 37px; position: absolute; display: none; right: 111px; top: 30px; background-image: url("../Content/images/navicon4.png"); background-repeat: no-repeat; -webkit-background-size: 37px 74px; -moz-background-size: 37px 74px; -o-background-size: 37px 74px; background-size: 37px 74px; }*/
#navicon4 { width: 37px; height: 37px; position: absolute; display: none; right: 74px; top: 30px; background-image: url("../Content/images/navicon4.png"); background-repeat: no-repeat; -webkit-background-size: 37px 74px; -moz-background-size: 37px 74px; -o-background-size: 37px 74px; background-size: 37px 74px; }
#navicon4.active { background-position: 0 -37px; background-color: #a2a2a2; }

/* 1936 */
.icon { display: inline-block; width: 24px; height: 24px; background-position: center center; background-repeat: no-repeat; margin: 0 auto; vertical-align: middle; margin: 0 2px; }
.icon.menu2 { background-image: url(../Content/images/icon-menu2.png); margin: 0; }
.icon.dialog { background-image: url(../Content/images/icon-dialog.png); width: 16px; margin-right: 5px; }