<?xml version="1.0"?>
<appSettings>
  <add key="LionTech:APITimeout" value="10000" />
  <add key="LionTech:ServerEnvironment" value="Developing" />
  <add key="LionTech:TokenAPIServiceDomain" value="http://127.0.0.1:6698" />
  <add key="LionTech:EXAPITokenKey" value="" />
  <add key="LionTech:FireBaseIosServerKey" value="" />
  <add key="LionTech:FireBaseAndroidServerKey" value="" />
  <add key="EDIServiceDistributor" value="false"/>
  <add key="EDIServiceDistributorURL" value="{0}/EDIService/Distributor?ClientSysID={1}&amp;SysID={2}&amp;EventGroupID={3}&amp;EventID={4}&amp;UserID={5}&amp;EventPara={6}"/>
  <add key="EDIServiceDistributorTimeOut" value="30000"/>
  <add key="RootPath" value="E:\APData\ERPAP\" />
  <add key="FilePath" value="E:\APData\ERPAP\" />
  <add key="AllowExternalClientIPAddress" value="false" />
  <add key="ValidationClientIPAddressString" value="10.31;10.32;10.33;10.34;10.35;10.36;10.41;10.16;10.17;10.18;10.19;10.20;" />
  <add key="ValidationServerIPAddressString" value="10.1.1;192.168.1;" />
  <add key="FilePathERPAPUserMenu" value="E:\APData\ERPAP\UserMenu\{0}\UserMenu.{0}{1}.xml" />
  <add key="FilePathB2PAPUserMenu" value="E:\APData\B2PAP\UserMenu\{0}\UserMenu.{0}{1}.xml" />
  <add key="APITimeOut" value="180000"/>
  <add key="APIERPAPTokenServiceValidationValidateEventURL" value="{0}/TokenService/Validation?ClientSysID={1}&amp;T={2}&amp;K={3}&amp;C={4}&amp;U={5}"/>
  <add key="APIERPAPAppTokenServiceGeneratorEventURL" value="{0}/AppTokenService/Generator"/>
  <add key="ERPAPHomeQRCodeAuthorization" value="{0}/Home/QRCodeAuthorization"/>
  <add key="SysSDMail" value="" />
  <add key="SmtpClientIPAddress" value="" />
  <add key="LineID" value="" />
  <add key="LineTo" value="" />
  <add key="FirebaseCredentialsPath" value=""/>
</appSettings>
