<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ERP.RootPath" value="E:\FileData\LionTech.EDIService.ERP\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="SubjectFormat" value="[EDI.USERP] 於：{0} 系統發生錯誤。"/>
    <add key="SysSDMail" value=""/>
    <add key="SmtpClientIPAddress" value=""/>
    <add key="LionTech:APIServiceDomain" value="http://uinapi.liontravel.com.tw"/>
    <add key="LineID" value=""/>
    <add key="LineTo" value=""/>
    <add key="TeamsTo" value="EDILogTeam"/>
    <add key="EDIServiceDistributorTimeOut" value="30000"/>
    <add key="APITimeOut" value="180000"/>
  </appSettings>
  <connectionStrings>
    <add name="ERP.EDI" providerName="System.Data.SqlClient" connectionString="16EEF15C43945FED2B1645D8149A44C567A9158C894BDF9E37D19CE8B64ADE0795CB906AF221B8B82BF41454614FF209D80287EFADA86BA0C54632C9AA577128D465A1DC8212D6964DAF543243CECFADF44433012DFDAFFCE6174AF83F7EFED12488D42FAE24408BBBB408B7188C19F708DC3DFBAB8D34885049B4C28B0E6A1CEEF63D72B85F6212"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
