<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  <add key="LionTech:ServerEnvironment" value="Developing" />
  <add key="LionTech:APIServiceDomain" value="http://127.0.0.1:6666" />
  <add key="ExApiAuthUrl" value="https://uauth.api.liontravel.com" />
  <add key="ExApiKey" value="1448612895" />
  <add key="ExApiSecret" value="1998201050" />
  <add key="LionTech:EXAPITokenKey" value="1448612895:1998201050" />
  <add key="LionTech:DigipassCredfldComponentType" value="IIS-USERP1" />
  <add key="LionTech:OTPSoapUrl" value="https://soap-dotp.liontravel.com:9999/" />
  <add key="EDIServiceDistributor" value="false"/>
  <add key="EDIServiceDistributorURL" value="{0}/EDIService/Distributor?ClientSysID={1}&amp;ClientUserID={2}&amp;SysID={3}&amp;EventGroupID={4}&amp;EventID={5}&amp;UserID={6}&amp;EventPara={7}"/>
  <add key="EDIServiceDistributorTimeOut" value="30000"/>
  <add key="EDIServicePath" value="FileData\LionTech.EDIService.ERP\" />
  <add key="RootPath" value="E:\APData\ERPAP\" />
  <add key="FilePath" value="E:\APData\ERPAP\" />
  <add key="AllowExternalClientIPAddress" value="true" />
  <add key="ValidationClientIPAddressString" value="10.31;10.32;10.33;10.34;10.35;10.36;10.41;10.16;10.17;10.18;10.19;10.20;10.46;" />
  <add key="ValidationServerIPAddressString" value="10.1.1;192.168.1;" />
  <add key="ServiceControllerIPAddress" value=""/>
  <add key="ServiceControllerPort" value=""/>
  <add key="StateServerMachineName" value="DATA-USERP"/>
  <add key="ASPLoginURL" value="http://uerp.liontravel.com.tw/login.asp"/>
  <add key="ASPMisTokenRedirectURL" value="http://uerp.liontravel.com.tw/Mis/token_redirect.asp?T={0}&amp;K={1}&amp;C={2}&amp;U={3}&amp;TargetUrl={4}"/>
  <add key="ASPTokenDelayURL" value="http://uerp.liontravel.com.tw/MIS/token_delay.asp?TargetUrl={0}"/>
  <add key="ASPPUBPub003URL" value="http://uerp.liontravel.com.tw/PUB/pub003.asp"/>
  <add key="SSODomain" value="http://127.0.0.1:5000"/>
  <add key="SSOScopeURL" value="/connect/authorize?redirect_uri={0}&amp;prompt=code&amp;response_type=code&amp;client_id=Serp&amp;scope=openid email&amp;state={1}"/>
  <add key="APITimeOut" value="180000"/>
  <add key="APITKNAPTokenServiceGeneratorURL" value="{0}/TokenService/Generator?K={1}&amp;C={2}&amp;U={3}"/>
  <add key="APITKNAPTokenServiceLoginURL" value="{0}/TokenService/Login?T={1}&amp;K={2}&amp;C={3}&amp;U={4}&amp;P={5}"/>
  <add key="APITKNAPTokenServiceValidationURL" value="{0}/TokenService/Validation?T={1}&amp;K={2}&amp;C={3}&amp;U={4}"/>
  <add key="APITKNAPTokenServiceDelayValidationURL" value="{0}/TokenService/DelayValidation?T={1}&amp;K={2}&amp;C={3}&amp;U={4}"/>
  <add key="APIERPAPAuthorizationERPUserValidateEventURL" value="{0}/Authorization/ERPUserValidateEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;ClientIP={3}&amp;APIPara={4}"/>
  <add key="APIERPAPAuthorizationERPRoleUserEditEventURL" value="{0}/Authorization/ERPRoleUserEditEvent?ClientSysID={1}&amp;ClientUserID={2}"/>
  <add key="APIERPAPSystemSettingSystemIconUploadEventURL" value="{0}/SystemSetting/SystemIconUploadEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;APIPara={3}"/>
  <add key="APIERPAPSystemSettingSystemIconDownloadEventURL" value="{0}/SystemSetting/SystemIconDownloadEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;APIPara={3}"/>
  <add key="APIERPAPERPPubDataUserMessageSelectEventURL" value="{0}/ERPPubData/UserMessageSelectEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;APIPara={3}"/>
  <add key="APIERPAPPubDataUserSystemNotificationsSelectEventURL" value="{0}/PubData/UserSystemNotificationsSelectEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;APIPara={3}"/>
  <add key="APIERPAPPubDataUserSystemNotificationsUnReadCountSelectEventURL" value="{0}/PubData/UserSystemNotificationsUnReadCountSelectEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;APIPara={3}"/>
  <add key="APIERPAPAuthorizationERPGenerateUserMenuEventURL" value="{0}/Authorization/ERPGenerateUserMenuEvent?ClientSysID={1}&amp;ClientUserID={2}&amp;APIPara={3}"/>
  <add key="IsLoginExApiValidation" value="true" />
  <add key="IsOpenLoginLink" value="false" />
  <add key="IsWriteLog" value="true" />
  <add key="SysSDMail" value="" />
  <add key="SmtpClientIPAddress" value="" />
  <add key="LineID" value="" />
  <add key="LineTo" value="" />
  <add key="TeamsTo" value=""/>
  <add key="JwtEnable" value="false" />
</appSettings>
