<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="JwtIssuerOptionsGroup">
            <section name="JwtIssuerOptions" type="LionTech.AspNet.Authentication.Jwt.JwtIssuerOptions, LionTech.AspNet.Authentication.Jwt" />
        </sectionGroup>
    </configSections>

    <JwtIssuerOptionsGroup>
        <JwtIssuerOptions issuer="liontech.serp.erpap" issuerSigningKey="1234567890123456" scheme="_jwt.serp" timeout="3600" loginPath="http://127.0.0.1:8888/Home/AutoLogin"/>
    </JwtIssuerOptionsGroup>
  <connectionStrings configSource="connectionStrings.config"/>
  <appSettings configSource="appSettings.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <customErrors defaultRedirect="/Home/GenericError" mode="Off"/>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="60"/>
    <!--<machineKey decryptionKey="3FC12C5EDCA262645F038FEADF74E0475818867BCD705604" validationKey="8DD294CF60CE00D9BCA62A7A62AA4582AB9425B08F288D3CA63E0AEE281C79280EB4FBC1F3C356EAC6E0377DF9D8F6A91C53F6A242C30A4C694A0FB68FF82EA3" />-->
    <httpCookies domain="127.0.0.1"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="OutputCache"/>
      <remove name="WindowsAuthentication"/>
      <remove name="FormsAuthentication"/>
      <remove name="DefaultAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="AnonymousIdentification"/>
    </modules>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
